@{
    ViewData["Title"] = "TikTakToe";
}

@model TikTakToe_Game.Models.GameViewModel


<main>
    <!--show all buttons--> 
    <div class="container-md row-cols-3">
        <button class=""></button>
    </div>
</main>

